
<section style="margin-right: 20%; margin-left: 20%; margin-bottom: 2%;">
<p></p>
<footer class="panel-footer" style="background-color: #f5f5f5;;">
        <div class="content">
            <p class="text-muted" style="text-align: center;">
                Predicting since 2016 by 
                    <a href="https://www.linkedin.com/in/ibon-garay-bengoa/" style="color: #b62821;" target="_blank">Ibon Garay Bengoa
                    </a>
               
            </p>
          </div>
</footer>
</section>

