<!DOCTYPE html>
<html>
  <head>
    {% include "importaciones.html" %}
    <script>
      $(document).ready(function () {
      $("#home").toggleClass("active");
      });
  </script>
  </head>

<body>
    {% include "menuSuperior.html" %}

  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <h1 style="text-align: center">Sistema de inteligencia artificial para predecir empates</h1>
    <p><strong>Sistema de inteligencia artificial para predecir empates de futbol</strong></p>
  </section>
 {% include "firma.html" %}
</body>
</html>
