<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Caza Empates</title>
    {% include "importaciones.html" %}
    <script>
      $(document).ready(function () {
      $("#home").toggleClass("active");
      });
  </script>
  </head>

<body>
    {% include "menuSuperior.html" %}

  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <h1 style="text-align: center">Invierte en las apuestas deportivas para sacar beneficio</h1>
  </section>
  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <p>AlphaPicks está compuesto por un sistema de Inteligencia Artificial que decide a que empates de futbol apostar, este sistema analiza las cuotas de las diferentes casas de apuestas y genera más de 200 pronósticos anuales para sacar beneficio de las apuestas deportivas. </p>
    <hr>
  </section>

  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <p>Tabla	</p>
    <p>Grafico	</p>
    <hr>
  </section>


  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <h1 style="text-align: center">Recopila las diferentes cuotas de las casas de apuestas</h1>
  </section>
  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <p>AlphaPicks estudia las cuotas que las casas de apuestas y apostadores han generado con su conocimiento en el sector.</p>
    <hr>
  </section>


  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <h1 style="text-align: center">Analiza los resultados de las cuotas para encontrar el empate</h1>
  </section>
  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <p>El sistema de inteligencia artificial esta entrenado para conocer el espacio en el que se encuentra el posible empate analizando los resultados de las cuotas.???? COMO FUNCIONA SIMPLE</p>
    <hr>
  </section>

  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <h1 style="text-align: center">AplhaPicks comparte los pronósticos para sacar beneficio</h1>
  </section>
  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <p>Semanalmente el sistema comparte la información (partido, cuota y fecha) para que tu solo tengas que apostar al empate y obtengas ingresos. Sencillo.</p>
    <hr>
  </section>
 

  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <h1 style="text-align: center">¿Por qué AlphaPicks es incomparable?</h1>
  </section>
  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <p>¿Es necesario hacer todas las apuestas de AlphaPicks para obtener beneficios?</p>
    <p>¿Qué estrategia seguís para calcular vuestro stake?</p>
    <p>¿Como gano dinero rápido?</p>
    <p>¿Me van a limitar las casas de apuestas si sigo los pronósticos de AlphaPicks?</p>
    <p>¿Cuánto tiempo de media destino a la semana a apostar?</p>
    <p>¿Como cancelo mi suscripción?</p>
    <hr>  
  </section>
  

  <p>
 {% include "firma.html" %}
</body>
</html>
