<!DOCTYPE html>
<html>

  <head>
    {% include "importaciones.html" %}
    <script>
      $(document).ready(function () {
      $("#home").toggleClass("active");
      });
  </script>
  </head>

<body>
    {% include "menuSuperior.html" %}
  <section style="margin-top: 2%;  margin-right: 2%; margin-left: 2%">
    
    <h1 style="text-align: center">Home</h1>
    <h1></h1>
  </section>
  
  <section style="margin-right: 20%; margin-left: 20%; margin-bottom: 2%;">
  <p><strong>Sistema de inteligencia artificial para predecir empates de futbol</strong></p>

</section>

  {% include "firma.html" %}

</body>
</html>
