<section style="margin-right: 20%; margin-left: 20%; margin-bottom: 2%;">
    <nav class="navbar navbar-default">
          <div class="container-fluid">
               <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Caza Empates</a>
               </div>
               <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--<li class="active"><a href="#home">Home<span class="sr-only">(current)</span></a></li>-->
                        <li id="prediccion"><a href="/prediccion">Predicciones</a></li>
                        <li id="precision"><a href="/precision">Beneficios</a></li>
                        
                        
                        <li class="dropdown">
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" >Historico<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                              <li id="20192020"><a href="/historico20192020">Temporada 2019/2020</a></li>
                              <li id="20182019"><a href="/historico20182019">Temporada 2018/2019</a></li>
                              <li id="20172018"><a href="/historico20172018">Temporada 2017/2018</a></li>
                              <li id="20162017"><a href="/historico20162017">Temporada 2016/2017</a></li>
                              <li id="20152016"><a href="/historico20152016">Temporada 2015/2016</a></li>
                              <li id="20142015"><a href="/historico20142015">Temporada 2014/2015</a></li>
                              <li id="20132014"><a href="/historico20132014">Temporada 2013/2014</a></li>
                              <li id="20122013"><a href="/historico20122013">Temporada 2012/2013</a></li>
                         </ul>
                        </li>
                        <!--<li id="metodologia"><a href="/metodologia">Metodología</a></li>-->
                        <!-- <li id="admin"><a href="/admin">Admin</a></li>
                          -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://public.tableau.com/profile/ibon.garay#!/vizhome/CVIbonGaray/CV" target="_blank">Curriculum Vitae</a></li> <!--onclick="window.open('#','_blank');window.open(this.href,'_self');"-->
                    </ul>
               </div>
          </div>
    </nav>
  </div>
</section>

