<!DOCTYPE html>
<html>

  <head>
    <title>Predicciones</title>
    {% include "importaciones.html" %}

  
  <script>
      $(document).ready(function () {
      $("#prediccion").toggleClass("active");
      });
    
  </script>


<style>
   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #ebe9e9;
    text-align: left;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.534);
	color: rgb(63, 63, 63);
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  	/* Define the hover highlight color for the table row */
    tr:hover {
          background-color: #ffff99;
    }


  </style>

  </head>





<body>
  {% include "menuSuperior.html" %}


  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <h1 style="text-align: center">Predicciones del sistema de IA</h1>

    
  
  </section>
  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <p>Predicciones de los empates dadas por el agente inteligente para la jornada en curso:</p>
    <table id="showData" ></table>
    <p id="showData3" style="color: blue"></p>
  </section>
  <section style="margin-right: 25%; margin-left: 25%; margin-bottom: 2%;">
    <hr>
    <p><i>El agente inteligente estudia todas las cuotas de las casas de apuestas dos días a la semana, los martes al mediodía y los viernes por la tarde. En caso de que encuentre un empate, lo publica esos mismos días.</i></p>
    </section>

  


<script>


  var myBooks = JSON.parse('{{ data | escapejs }}');

  myBooks = myBooks.data

  // EXTRACT VALUE FOR HTML HEADER. 
  // ('Book ID', 'Book Name', 'Category' and 'Price')
  var col = [];
  for (var i = 0; i < myBooks.length; i++) {
      for (var key in myBooks[i]) {
          if (col.indexOf(key) === -1) {
              col.push(key);
          }
      }
  }

  // CREATE DYNAMIC TABLE.
  var table = document.createElement("table");

  // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

  var tr = table.insertRow(-1);                   // TABLE ROW.

  for (var i = 1; i < col.length-3; i++) {
      var th = document.createElement("th");      // TABLE HEADER.
      //if(col[i]==0){
      //  th.innerHTML = "ID";
      //}
      if(col[i]==1){
        th.innerHTML = "Fecha";
      }
      if(col[i]==2){
        th.innerHTML = "Equipo local";
      }
      if(col[i]==3){
        th.innerHTML = "Equipo de fuera";
      }
      if(col[i]==6){
        th.innerHTML = "Predicción";
      }
      if(col[i]==4){
        th.innerHTML = "Probabilidad";
      }
      if(col[i]==5){
        th.innerHTML = "Cuota";
      }
      //if(col[i]==6){
      //  th.innerHTML = "Ejecucion";
      //}
      
      tr.appendChild(th);
  }

  // ADD JSON DATA TO THE TABLE AS ROWS.
  for (var i = 0; i < myBooks.length; i++) {

      tr = table.insertRow(-1);

      for (var j = 1; j < col.length-3; j++) {
          var tabCell = tr.insertCell(-1);
          if(col[j]==6){
            tabCell.innerHTML = "Empate";
          }
          if(col[j]==1){
            date = new Date(myBooks[i][col[j+1]]);
            year = date.getFullYear();
            month = date.getMonth()+1;
            dt = date.getDate();
            if (dt < 10) {
              dt = '0' + dt;
            }
            if (month < 10) {
              month = '0' + month;
            }
            tabCell.innerHTML = year+'-' + month + '-'+dt;
              //tabCell.innerHTML = new Date(myBooks[i][col[j]]).toISOString();
          }
          if(col[j]==2){
            tabCell.innerHTML = myBooks[i][col[j+1]];
          }
          if(col[j]==3){
            tabCell.innerHTML = myBooks[i][col[j+1]];
          } 
          if(col[j]==4){
            /*if(myBooks[i][col[j]]==0){
              tabCell.innerHTML = "";
            }else{
              tabCell.innerHTML = myBooks[i][col[j]];
            }*/
            tabCell.innerHTML = myBooks[i][col[j+4]]
          }   
          if(col[j]==5){
            tabCell.innerHTML = myBooks[i][col[j+4]]
          }
      }
  }

  // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
  var divContainer = document.getElementById("showData");
  divContainer.innerHTML = "";
  divContainer.appendChild(table);


 var paragraph = document.getElementById("showData3");




  if(myBooks.length == 0){
    var text = document.createTextNode("No hay empates esta jornada.");
    paragraph.appendChild(text);
  }else{
    var text = document.createTextNode("");
    paragraph.appendChild(text);
  }

function CreateTableFromJSON() {
  
}
</script>

{% include "firma.html" %}

</body>
</html>

